

<div class="container">
    <form #Userform="ngForm" (ngSubmit)="sendUser()">
      <mat-form-field>
          <input matInput type="email" placeholder="Email" name="email" required [(ngModel)]="user.email">
      </mat-form-field>
      <br>
      <mat-form-field>
          <input matInput type="text" placeholder="Username" name="username" required [(ngModel)]="user.username">
      </mat-form-field>
      <br>
      <mat-form-field>
          <input matInput type="password" placeholder="Password" name="password" required [(ngModel)]="user.password">
      </mat-form-field>
      <br>
      <button mat-raised-button color="primary">Send data</button>
  </form>
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>id</th>
        <th>username</th>
        <th>password</th>
        <th>email</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td><span>{{user.id}}</span></td>
        <td><span>{{user.username}}</span></td>
        <td><span>{{user.password}}</span></td>
        <td><span>{{user.email}}</span></td>
        <td><button mat-button (click)="onDelete(user.id)">Delete</button></td>
      </tr>
      </tbody>
    </table>
  </div>

