<app-navbar2></app-navbar2>
<div *ngFor="let locations of schoolLocation">
    <p style="font-weight: bold;">Bayer Inc iskola címe:  </p>
    <p>{{locations.postcode}}, {{locations.city}} , {{locations.street}}, {{locations.housenumber}} </p>
</div>
<br>
<p style="font-weight: bold;">Users who have more then 3 follower:</p>
<div *ngFor="let user of users" >  
    <p>{{user.first_name}}  {{user.last_name}}</p>
</div>
<br>
<p style="font-weight: bold;">Users who write comment:</p>
<div *ngFor="let userWhoWriteComment of user" >  
    <p>{{userWhoWriteComment.username}}</p>
</div>


