<div class="container">
  <form #Userform="ngForm" (ngSubmit)="sendWorkplace()">
    <mat-form-field>
        <input matInput type="number" placeholder="LocationId" name="location_id" required [(ngModel)]="workplaces.location_id">
    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput type="text" placeholder="Name" name="name" required [(ngModel)]="workplaces.name">
    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput type="text" placeholder="Workplacetype" name="workplace_type" required [(ngModel)]="workplaces.workplace_type">
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary">Send data</button>
</form>
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>id</th>
        <th>location_id</th>
        <th>name</th>
        <th>workplace_type</th>
    </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of workplace">
        <td><span>{{user.id}}</span></td>
        <td><span>{{user.location_id}}</span></td>
        <td><span>{{user.name}}</span></td>
        <td><span>{{user.workplace_type}}</span></td>
      </tr>
      </tbody>
    </table>
  </div>