<div class="container">
  <form #Locationform="ngForm" (ngSubmit)="sendLocation()">
    <mat-form-field>
      <input matInput type="number" placeholder="Postcode" name="postcode" required [(ngModel)]="location.postcode">
  </mat-form-field>
  <br>
    <mat-form-field>
        <input matInput type="text" placeholder="City" name="city" required [(ngModel)]="location.city">
    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput type="text" placeholder="Street" name="street" required [(ngModel)]="location.street">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput type="number" placeholder="House Number" name="housenumber" required [(ngModel)]="location.housenumber">
  </mat-form-field>
    <button mat-raised-button color="primary">Send data</button>
</form>
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>id</th>
        <th>postcode</th>
        <th>city</th>
        <th>street</th>
        <th>housenumber</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of locations">
        <td><span>{{user.id}}</span></td>
        <td><span>{{user.postcode}}</span></td>
        <td><span>{{user.city}}</span></td>
        <td><span>{{user.street}}</span></td>
        <td><span>{{user.housenumber}}</span></td>
        <td><button mat-button (click)="onDelete(user.id)">Delete</button></td>
        <td><button (click)="updateUser(user)" class='btn btn-info'
          data-toggle="modal" data-target="#myModal">Update</button>  </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <form [formGroup]="userupdateform" #updusr (ngSubmit)="changeisUpdate()">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title" style="text-align: center">Update Comment</h4>
          </div>
          <!-- Modal body -->
          <div class="modal-body" >
              <input type="hidden" class="form-control"  formControlName="id" [(ngModel)]="user2.id">
              <div class="form-group">
                
                <input type="text" class="form-control"  formControlName="postcode" [(ngModel)]="user2.postcode"  >
              </div>
              <div class="form-group">
                
                <input type="text" class="form-control" formControlName="city" [(ngModel)]="user2.city">
              </div>
              <div class="form-group">
                <label>content</label>
                <input type="text" class="form-control" formControlName="street" [(ngModel)]="user2.street">
              </div>
              <div class="form-group">
                
                <input type="text" class="form-control" formControlName="housenumber" [(ngModel)]="user2.housenumber">
              </div>
  
          </div>
          <!-- Modal footer -->
          <div class="modal-footer" >
            <button type="submit" class="btn btn-success">Update</button>
          </div>
  
        </form>
      </div>
    </div>
  </div>