<div class="container">
  <form #Messageform="ngForm" (ngSubmit)="sendMessage()">
    <mat-form-field>
        <input matInput type="number" placeholder="Userid1" name="user_id1" required [(ngModel)]="message.user_id1">
    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput type="number" placeholder="Userid2" name="user_id2" required [(ngModel)]="message.user_id2">
    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput type="text" placeholder="Content" name="content" required [(ngModel)]="message.content">
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary">Send data</button>
</form>
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>id</th>
        <th>userid1</th>
        <th>userid2</th>
        <th>content</th>
        <th>creation_time</th>
    </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of messages">
        <td><span>{{user.id}}</span></td>
        <td><span>{{user.user_id1}}</span></td>
        <td><span>{{user.user_id2}}</span></td>
        <td><span>{{user.content}}</span></td>
        <td><span>{{user.creation_time}}</span></td>
        <td><button mat-button (click)="onDelete(user.id)">Delete</button></td>
      </tr>
      </tbody>
    </table>
  </div>