<app-navbar2></app-navbar2>
<mat-tab-group>
    <mat-tab label="Users">
        <app-user-list></app-user-list>
    </mat-tab>
    <mat-tab label="Schools">
        <app-school-list></app-school-list>
    </mat-tab>
    <mat-tab label="Comments">
        <app-comments-list></app-comments-list>
    </mat-tab>
    <!--<mat-tab label="Groups">
        <app-groups-list></app-group-list>
    </mat-tab>-->
    <mat-tab label="Location">
        <app-location-list></app-location-list>
    </mat-tab>
    <mat-tab label="Photos">
        <app-photos-list></app-photos-list>
    </mat-tab>
    <mat-tab label="Post">
        <app-post-list></app-post-list>
    </mat-tab>
    <mat-tab label="Userdata">
        <app-userdata-list></app-userdata-list>
    </mat-tab>
    <mat-tab label="Workplace">
        <app-workplace-list></app-workplace-list>
    </mat-tab>
    <mat-tab label="Messages">
        <app-message-list></app-message-list>
    </mat-tab>
  </mat-tab-group>