<div class="container">
  <form #Userdataform="ngForm" (ngSubmit)="sendUserdata()">
    <mat-form-field>
        <input matInput type="number" placeholder="UserId" name="user_id" required [(ngModel)]="userdatas.user_id">
    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput type="number" placeholder="LocationId" name="location_id" required [(ngModel)]="userdatas.location_id">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput type="number" placeholder="PhotoId" name="photo_id" required [(ngModel)]="userdatas.photo_id">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput type="text" placeholder="Firstname" name="first_name" required [(ngModel)]="userdatas.first_name">
</mat-form-field>
<br>
<mat-form-field>
  <input matInput type="text" placeholder="LastName" name="last_name" required [(ngModel)]="userdatas.last_name">
</mat-form-field>
<br>
<mat-form-field>
  <input matInput type="text" placeholder="Gender" name="gender" required [(ngModel)]="userdatas.gender">
</mat-form-field>
<br>
<mat-form-field>
  <input matInput type="date" placeholder="Birthday" name="birthday" required [(ngModel)]="userdatas.birthday">
</mat-form-field>
<br>

    <button mat-raised-button color="primary">Send data</button>
</form>
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>id</th>
        <th>userid</th>
        <th>locationid</th>
        <th>photoid</th>
        <th>firstname</th>
        <th>lastname</th>
        <th>gender</th>
        <th>birthday</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of userdata">
        <td><span>{{user.id}}</span></td>
        <td><span>{{user.user_id}}</span></td>
        <td><span>{{user.location_id}}</span></td>
        <td><span>{{user.photo_id}}</span></td>
        <td><span>{{user.first_name}}</span></td>
        <td><span>{{user.last_name}}</span></td>
        <td><span>{{user.gender}}</span></td>
        <td><span>{{user.birthday}}</span></td>
        <td><button mat-button (click)="onDelete(user.id)">Delete</button></td>
        <td><button (click)="updateUser(user)" class='btn btn-info'
          data-toggle="modal" data-target="#myModal">Update</button>  </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="modal" id="myModal">
    
    <div class="modal-dialog">
      <div class="modal-content">
        <form [formGroup]="userupdateform" #updusr (ngSubmit)="changeisUpdate()">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title" style="text-align: center">Update Comment</h4>
          </div>
          <!-- Modal body -->
          <div class="modal-body" >
              <input type="hidden" class="form-control"  formControlName="id" [(ngModel)]="user2.id">
              <div class="form-group">
                
                <input type="hidden" class="form-control"  formControlName="user_id" [(ngModel)]="user2.user_id"  >
              </div>
              <div class="form-group">
                
                <input type="hidden" class="form-control" formControlName="location_id" [(ngModel)]="user2.location_id">
              </div>
              <div class="form-group">
                <label>content</label>
                <input type="hidden" class="form-control" formControlName="photo_id" [(ngModel)]="user2.photo_id">
              </div>
              <div class="form-group">
                
                <input type="text" class="form-control" formControlName="first_name" [(ngModel)]="user2.first_name">
              </div>
              <div class="form-group">
                
                <input type="text" class="form-control" formControlName="last_name" [(ngModel)]="user2.last_name">
              </div>
              <div class="form-group">
                
                <input type="text" class="form-control" formControlName="gender" [(ngModel)]="user2.gender">
              </div>
              <div class="form-group">
                
                <input type="text" class="form-control" formControlName="birthday" [(ngModel)]="user2.birthday">
              </div>
  
          </div>
          <!-- Modal footer -->
          <div class="modal-footer" >
            <button type="submit" class="btn btn-success">Update</button>
          </div>
  
        </form>
      </div>
    </div>
  </div>