<div class="container">
  <form #Photoform="ngForm" (ngSubmit)="sendPhoto()">
    <mat-form-field>
        <input matInput type="number" placeholder="UserId" name="userid" required [(ngModel)]="photo.user_id">
    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput type="text" placeholder="Photo" name="photo" required [(ngModel)]="photo.photo">
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary">Send data</button>
</form>
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>id</th>
        <th>user_id</th>
        <th>photo</th>
    </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of photos">
        <td><span>{{user.id}}</span></td>
        <td><span>{{user.user_id}}</span></td>
        <td><span>{{user.photo}}</span></td>
      </tr>
      </tbody>
    </table>
  </div>