.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.spacer{
  flex: 1 1 auto;
}





.toolbar{
  display: flex;
  justify-content: space-between;
  height: 5%;

  h1 {
    margin: 0;
  }
}

.header-item {
  display: flex;
  align-items: center;
}

.main {
  display: flex;
  height: 95%;

  .navigation {
    width: 20%;
    overflow-y: scroll;
  }
}