<mat-toolbar color="primary" class="mat-elevation-z6">
    <!--
        <div class="img">
        <img src="..\..\..\assets\lobster.png" />
    </div>
    -->
    <div>
        <span>SocialLobster</span>
    </div>
    <div class="spacer"></div>
    <div>
        <button mat-button routerLink="/admin" routerLinkActive="active">Admin</button>
    </div>
    <div>
        <button mat-button routerLink="/explore" routerLinkActive="active">Explore</button>
    </div>
    <div>
        <button mat-button routerLink="/feed" routerLinkActive="active">Feed</button>
    </div>
    <div>
        <button mat-button routerLink="/groups" routerLinkActive="active">Groups</button>
    </div>
    <div>
        <button mat-button routerLink="/profile" routerLinkActive="active">Profile</button>
    </div>
    <div>
        <button mat-button routerLink="/logout" routerLinkActive="active">Log out</button>
    </div>
</mat-toolbar>