<mat-toolbar color="primary" class="mat-elevation-z6">
    <!--
        <div class="img">
        <img src="..\..\..\assets\lobster.png" />
    </div>
    -->
    <div>
        <span>SocialLobster</span>
    </div>
    <div class="spacer"></div>
    <div>
      <button mat-button routerLink="/login" routerLinkActive="active" *ngIf="!loggedInUser">Login</button>
    </div>
    <div>
      <button mat-raised-button routerLink="/register" routerLinkActive="active" *ngIf="!loggedInUser">Register</button>
    </div>
    <div>
        <button mat-button routerLink="/admin" routerLinkActive="active" *ngIf="loggedInUser && admin">Admin</button>
    </div>
    <div>
        <button mat-button routerLink="/explore" routerLinkActive="active" *ngIf="loggedInUser">Explore</button>
    </div>
    <div>
        <button mat-button routerLink="/feed" routerLinkActive="active" *ngIf="loggedInUser">Feed</button>
    </div>
    <div>
        <button mat-button routerLink="/profile" routerLinkActive="active" *ngIf="loggedInUser">Profile</button>
    </div>
    <div>
        <button mat-button routerLink="/login" (click)="logout()" routerLinkActive="active" *ngIf="loggedInUser">Log out</button>
    </div>
</mat-toolbar>
