<mat-toolbar color="primary" class="mat-elevation-z6">
    <!--
        <div class="img">
        <img src="..\..\..\assets\lobster.png" />
    </div>
    -->
    <div>
        <span>SocialLobster</span>
    </div>
    <div class="spacer"></div>
    <div>
        <button mat-button routerLink="/login-component" routerLinkActive="active">Login</button>
    </div>
    <div>
        <button mat-raised-button routerLink="/register-component" routerLinkActive="active">Register</button>
    </div>
</mat-toolbar>