<div class="container">
  <form #Commentform="ngForm" (ngSubmit)="sendComment()">
    <mat-form-field>
        <input matInput type="number" placeholder="UserId" name="user_id" required [(ngModel)]="comment.user_id">
    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput type="number" placeholder="PostId" name="post_id" required [(ngModel)]="comment.post_id">
    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput type="text" placeholder="Content" name="content" required [(ngModel)]="comment.content">
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary">Send data</button>
</form>
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>id</th>
        <th>userid</th>
        <th>postid</th>
        <th>content</th>
        <th>creation_time</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of comments">
        <td><span>{{user.id}}</span></td>
        <td><span>{{user.user_id}}</span></td>
        <td><span>{{user.post_id}}</span></td>
        <td><span>{{user.content}}</span></td>
        <td><span>{{user.creation_time}}</span></td>
        <td><button mat-button (click)="onDelete(user.id)">Delete</button></td>
      </tr>
      </tbody>
    </table>
  </div>