<mat-card>
    <mat-card-content>
        <form #loginform="ngForm" (ngSubmit)="loginUser()">
            <h2>Log In</h2>
            <p>{{msg}}</p>
            <mat-form-field>
                <input matInput placeholder="Email" name="Email" [(ngModel)]="user.email" required pattern="^w+@[a-zA-z_]+?\.[a-zA-Z]{2,3}$" #email="ngModel">
            </mat-form-field>
            <mat-form-field>
                <input matInput type="password" placeholder="Password" name="password" required [(ngModel)]="user.password">
            </mat-form-field>
            <button mat-raised-button color="primary">Login</button>
        </form>
        <a href="/register">Nincs még felhasználód? Regisztrálj!</a>
    </mat-card-content>
</mat-card>

